<!DOCTYPE html>
<html lang="en">
  <%- include ('./head') %>

  <body>
    <!-- Main Wrapper -->
    <div class="main-wrapper login-body">
      <div class="container-fluid px-0">
        <div class="row"><%- include('../Auth/'+page_path) %></div>
      </div>
    </div>
    <!-- /Main Wrapper -->

    <%- include ('./script') %>
  </body>
</html>
