<div class="content">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row">
      <div class="col-sm-12">
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="taxes">Accounts </a></li>
          <li class="breadcrumb-item"><i class="feather-chevron-right"></i></li>
          <li class="breadcrumb-item active">Edit Taxes</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-12">
                <div class="form-heading">
                  <h4>Edit Taxes</h4>
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-6">
                <div class="form-group local-forms">
                  <label>Tax Name <span class="login-danger">*</span></label>
                  <input class="form-control" type="text" value="VAT" />
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-6">
                <div class="form-group local-forms">
                  <label
                    >Tax Percentage <span class="login-danger">*</span></label
                  >
                  <input class="form-control" type="text" value="20%" />
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-6">
                <div class="form-group local-forms">
                  <label>Tax Method <span class="login-danger">*</span></label>
                  <select class="form-control select">
                    <option>Select Tax Method</option>
                    <option>Active</option>
                    <option>In Active</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-6">
                <div class="form-group select-gender">
                  <label class="gen-label"
                    >Status <span class="login-danger">*</span></label
                  >
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input
                        type="radio"
                        name="gender"
                        class="form-check-input"
                        checked
                      />Active
                    </label>
                  </div>
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input
                        type="radio"
                        name="gender"
                        class="form-check-input"
                      />In Active
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-12">
                <div class="form-group local-forms">
                  <label
                    >Other Information
                    <span class="login-danger">*</span></label
                  >
                  <textarea class="form-control" rows="3" cols="30">
Lorem ipsum dolor sit amet, consectetur adipiscing elit</textarea
                  >
                </div>
              </div>
              <div class="col-12">
                <div class="doctor-submit text-end">
                  <button
                    type="submit"
                    class="btn btn-primary submit-form me-2"
                  >
                    Create Tax
                  </button>
                  <button type="submit" class="btn btn-primary cancel-form">
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="delete_patient" class="modal fade delete-modal" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body text-center">
        <img src="assets/img/sent.png" alt="" width="50" height="46" />
        <h3>Are you sure want to delete this ?</h3>
        <div class="m-t-20">
          <a href="#" class="btn btn-white" data-bs-dismiss="modal">Close</a>
          <button type="submit" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
