<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row">
      <div class="col-sm-12">
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="index">Dashboard </a></li>
          <li class="breadcrumb-item"><i class="feather-chevron-right"></i></li>
          <li class="breadcrumb-item active">Settings</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <div class="settings-menu-links">
    <ul class="nav nav-tabs menu-tabs">
      <li class="nav-item">
        <a class="nav-link" href="settings">General Settings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="localization-details">Localization</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="payment-settings">Payment Settings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="email-settings">Email Settings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="social-settings">Social Media Login</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="social-links">Social Links</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="seo-settings">SEO Settings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="theme-settings">Theme Settings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="change-password">Change Password</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="others-settings">Others</a>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Social Link Settings</h5>
        </div>
        <div class="card-body pt-0">
          <form>
            <div class="settings-form">
              <div class="links-info">
                <div class="row form-row links-cont">
                  <div class="form-group form-placeholder d-flex">
                    <button class="btn social-icon">
                      <i class="feather-facebook"></i>
                    </button>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="https://www.facebook.com"
                    />
                    <a href="#" class="btn trash">
                      <i class="feather-trash-2"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="links-info">
                <div class="row form-row links-cont">
                  <div class="form-group form-placeholder d-flex">
                    <button class="btn social-icon">
                      <i class="feather-twitter"></i>
                    </button>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="https://www.twitter.com"
                    />
                    <a href="#" class="btn trash">
                      <i class="feather-trash-2"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="links-info">
                <div class="row form-row links-cont">
                  <div class="form-group form-placeholder d-flex">
                    <button class="btn social-icon">
                      <i class="feather-youtube"></i>
                    </button>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="https://www.youtube.com"
                    />
                    <a href="#" class="btn trash">
                      <i class="feather-trash-2"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="links-info">
                <div class="row form-row links-cont">
                  <div class="form-group form-placeholder d-flex">
                    <button class="btn social-icon">
                      <i class="feather-linkedin"></i>
                    </button>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="https://www.linkedin.com"
                    />
                    <a href="#" class="btn trash">
                      <i class="feather-trash-2"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group text-end">
              <a href="javascript:void(0);" class="btn add-links">
                <i class="fa fa-plus me-1"></i> Add More
              </a>
            </div>
            <div class="form-group mb-0">
              <div class="settings-btns">
                <button
                  type="submit"
                  class="border-0 btn btn-primary btn-gradient-primary btn-rounded"
                >
                  Submit
                </button>
                <button type="submit" class="btn btn-secondary btn-rounded">
                  Cancel
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
