<div class="content">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row">
      <div class="col-sm-12">
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="blog">Blog </a></li>
          <li class="breadcrumb-item"><i class="feather-chevron-right"></i></li>
          <li class="breadcrumb-item active">Blogs</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->
  <div class="row">
    <div class="col-sm-6 col-md-6 col-xl-4">
      <div class="blog grid-blog">
        <div class="blog-image">
          <a href="blog-details"
            ><img class="img-fluid" src="assets/img/blog/blog-1.jpg" alt=""
          /></a>
          <div class="blog-views">
            <h5>Diabetes</h5>
          </div>
          <ul class="nav view-blog-list blog-views">
            <li><i class="feather-message-square me-1"></i>58</li>
            <li><i class="feather-eye me-1"></i>500</li>
          </ul>
        </div>
        <div class="blog-content">
          <div class="blog-grp-blk">
            <div class="blog-img-blk">
              <a href="profile"
                ><img
                  class="img-fluid"
                  src="assets/img/profiles/avatar-01.jpg"
                  alt=""
              /></a>
              <div class="content-blk-blog ms-2">
                <h4><a href="profile">Jenifer Robinson</a></h4>
                <h5>M.B.B.S, Diabetologist</h5>
              </div>
            </div>
            <span><i class="feather-calendar me-1"></i>05 Sep 2022</span>
          </div>
          <h3 class="blog-title">
            <a href="blog-details"
              >Simple Changes That Lowered My Mom's Blood Pressure</a
            >
          </h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua...
          </p>
          <a href="blog-details" class="read-more d-flex">
            Read more in 8 Minutes<i class="fa fa-long-arrow-right ms-2"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-xl-4">
      <div class="blog grid-blog">
        <div class="blog-image">
          <a href="blog-details"
            ><img class="img-fluid" src="assets/img/blog/blog-2.jpg" alt=""
          /></a>
          <div class="blog-views">
            <h5>Safety</h5>
          </div>
          <ul class="nav view-blog-list blog-views">
            <li><i class="feather-message-square me-1"></i>18</li>
            <li><i class="feather-eye me-1"></i>5k</li>
          </ul>
        </div>
        <div class="blog-content">
          <div class="blog-grp-blk">
            <div class="blog-img-blk">
              <a href="profile"
                ><img
                  class="img-fluid"
                  src="assets/img/profiles/avatar-02.jpg"
                  alt=""
              /></a>
              <div class="content-blk-blog ms-2">
                <h4><a href="profile">Mark hay smith</a></h4>
                <h5>M.B.B.S, Neurologist</h5>
              </div>
            </div>
            <span><i class="feather-calendar me-1"></i>05 Sep 2022</span>
          </div>
          <h3 class="blog-title">
            <a href="blog-details"
              >Vaccines Are Close - But Right Now We Need to Hunker Down</a
            >
          </h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua...
          </p>
          <a href="blog-details" class="read-more d-flex">
            Read more in 2 Minutes<i class="fa fa-long-arrow-right ms-2"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-xl-4">
      <div class="blog grid-blog">
        <div class="blog-image">
          <a href="blog-details"
            ><img class="img-fluid" src="assets/img/blog/blog-3.jpg" alt=""
          /></a>
          <div class="blog-views">
            <h5>Dermotology</h5>
          </div>
          <ul class="nav view-blog-list blog-views">
            <li><i class="feather-message-square me-1"></i>28</li>
            <li><i class="feather-eye me-1"></i>2.5k</li>
          </ul>
        </div>
        <div class="blog-content">
          <div class="blog-grp-blk">
            <div class="blog-img-blk">
              <a href="profile"
                ><img
                  class="img-fluid"
                  src="assets/img/profiles/avatar-03.jpg"
                  alt=""
              /></a>
              <div class="content-blk-blog ms-2">
                <h4><a href="profile">Denise Stevens</a></h4>
                <h5>M.B.B.S, Dermotologist</h5>
              </div>
            </div>
            <span><i class="feather-calendar me-1"></i>05 Sep 2022</span>
          </div>
          <h3 class="blog-title">
            <a href="blog-details"
              >Hair Loss On One Side of Head – Causes & Treatments</a
            >
          </h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua...
          </p>
          <a href="blog-details" class="read-more d-flex">
            Read more in 3 Minutes<i class="fa fa-long-arrow-right ms-2"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-xl-4">
      <div class="blog grid-blog">
        <div class="blog-image">
          <a href="blog-details"
            ><img class="img-fluid" src="assets/img/blog/blog-4.jpg" alt=""
          /></a>
          <div class="blog-views">
            <h5>Ophthalmology</h5>
          </div>
          <ul class="nav view-blog-list blog-views">
            <li><i class="feather-message-square me-1"></i>48</li>
            <li><i class="feather-eye me-1"></i>600</li>
          </ul>
        </div>
        <div class="blog-content">
          <div class="blog-grp-blk">
            <div class="blog-img-blk">
              <a href="profile"
                ><img
                  class="img-fluid"
                  src="assets/img/profiles/avatar-05.jpg"
                  alt=""
              /></a>
              <div class="content-blk-blog ms-2">
                <h4><a href="profile">Laura Williams</a></h4>
                <h5>M.B.B.S, Ophthalmologist</h5>
              </div>
            </div>
            <span><i class="feather-calendar me-1"></i>05 Sep 2022</span>
          </div>
          <h3 class="blog-title">
            <a href="blog-details"
              >Eye Care Routine To Get Rid Of Under Eye Circles And Puffiness</a
            >
          </h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua...
          </p>
          <a href="blog-details" class="read-more d-flex">
            Read more in 5 Minutes<i class="fa fa-long-arrow-right ms-2"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-xl-4">
      <div class="blog grid-blog">
        <div class="blog-image">
          <a href="blog-details"
            ><img class="img-fluid" src="assets/img/blog/blog-5.jpg" alt=""
          /></a>
          <div class="blog-views">
            <h5>Dentist</h5>
          </div>
          <ul class="nav view-blog-list blog-views">
            <li><i class="feather-message-square me-1"></i>48</li>
            <li><i class="feather-eye me-1"></i>600</li>
          </ul>
        </div>
        <div class="blog-content">
          <div class="blog-grp-blk">
            <div class="blog-img-blk">
              <a href="profile"
                ><img
                  class="img-fluid"
                  src="assets/img/profiles/avatar-06.jpg"
                  alt=""
              /></a>
              <div class="content-blk-blog ms-2">
                <h4><a href="profile">Linda Carpenter </a></h4>
                <h5>M.B.B.S, Dentist</h5>
              </div>
            </div>
            <span><i class="feather-calendar me-1"></i>05 Sep 2022</span>
          </div>
          <h3 class="blog-title">
            <a href="blog-details"
              >5 Facts About Teeth Whitening You Should Know</a
            >
          </h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua...
          </p>
          <a href="blog-details" class="read-more d-flex">
            Read more in 3 Minutes<i class="fa fa-long-arrow-right ms-2"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-xl-4">
      <div class="blog grid-blog">
        <div class="blog-image">
          <a href="blog-details"
            ><img class="img-fluid" src="assets/img/blog/blog-6.jpg" alt=""
          /></a>
          <div class="blog-views">
            <h5>Gynecologist</h5>
          </div>
          <ul class="nav view-blog-list blog-views">
            <li><i class="feather-message-square me-1"></i>18</li>
            <li><i class="feather-eye me-1"></i>300</li>
          </ul>
        </div>
        <div class="blog-content">
          <div class="blog-grp-blk">
            <div class="blog-img-blk">
              <a href="profile"
                ><img
                  class="img-fluid"
                  src="assets/img/profiles/avatar-04.jpg"
                  alt=""
              /></a>
              <div class="content-blk-blog ms-2">
                <h4><a href="profile">Mark hay smith</a></h4>
                <h5>M.B.B.S, Gynecologist</h5>
              </div>
            </div>
            <span><i class="feather-calendar me-1"></i>05 Sep 2022</span>
          </div>
          <h3 class="blog-title">
            <a href="blog-details">Sciatica: Symptoms, Causes & Treatments</a>
          </h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua...
          </p>
          <a href="blog-details" class="read-more d-flex">
            Read more in 10 Minutes<i class="fa fa-long-arrow-right ms-2"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
